body{
    background-color: #2b2c;
}
.ml{
    margin-left: 0 !important;
}
.one{
    height: 200px;
    width: 200px;
    background: #057ce4;
    margin: 20px 0;
}
.two{
    height: 200px;
    width: 200px;
    background: #000;
    margin: 20px 0;
}
button{
    height: 40px;
    line-height: 40px;
    background: rgb(49, 37, 105);
    border: none;
    color:#fff;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;
}